# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
doc/modules.md
doc/README.md
doc/index/README.md
doc/index/classes/CachedMap.md
doc/index/classes/CanvasBaseItem.md
doc/index/classes/CanvasManagerStatic.md
doc/index/classes/CharacterBaseModel.md
doc/index/classes/CharacterStoredClass.md
doc/index/classes/Container.md
doc/index/classes/GameUnifier.md
doc/index/classes/HistoryManagerStatic.md
doc/index/classes/ImageContainer.md
doc/index/classes/ImageSprite.md
doc/index/classes/Label.md
doc/index/classes/LabelAbstract.md
doc/index/classes/NarrationManagerStatic.md
doc/index/classes/PixiError.md
doc/index/classes/SoundManagerStatic.md
doc/index/classes/Sprite.md
doc/index/classes/StoredClassModel.md
doc/index/classes/Text.md
doc/index/classes/TickerBase.md
doc/index/classes/VideoSprite.md
doc/index/functions/addImage.md
doc/index/functions/addImageCointainer.md
doc/index/functions/addListenerHandler.md
doc/index/functions/addVideo.md
doc/index/functions/analizePositionsExtensionProps.md
doc/index/functions/canvasComponentDecorator.md
doc/index/functions/createExportableElement.md
doc/index/functions/drawCanvasErrorHandler.md
doc/index/functions/eventDecorator.md
doc/index/functions/getTexture.md
doc/index/functions/moveIn.md
doc/index/functions/moveOut.md
doc/index/functions/newChoiceOption.md
doc/index/functions/newCloseChoiceOption.md
doc/index/functions/newLabel.md
doc/index/functions/Pause.md
doc/index/functions/pushIn.md
doc/index/functions/pushOut.md
doc/index/functions/removeWithDissolve.md
doc/index/functions/removeWithFade.md
doc/index/functions/setMemoryContainer.md
doc/index/functions/shakeEffect.md
doc/index/functions/showImage.md
doc/index/functions/showImageContainer.md
doc/index/functions/showText.md
doc/index/functions/showVideo.md
doc/index/functions/showWithDissolve.md
doc/index/functions/showWithFade.md
doc/index/functions/tickerDecorator.md
doc/index/functions/zoomIn.md
doc/index/functions/zoomOut.md
doc/index/interfaces/AdditionalPositionsExtension.md
doc/index/interfaces/AdditionalPositionsExtensionProps.md
doc/index/interfaces/AnchorExtension.md
doc/index/interfaces/AnchorExtensionProps.md
doc/index/interfaces/ApplicationOptions.md
doc/index/interfaces/AssetMemory.md
doc/index/interfaces/AssetsBundle.md
doc/index/interfaces/AssetsManifest.md
doc/index/interfaces/AudioChannelInterface.md
doc/index/interfaces/CanvasBaseInterface.md
doc/index/interfaces/CanvasBaseItemMemory.md
doc/index/interfaces/CanvasGameState.md
doc/index/interfaces/CanvasManagerInterface.md
doc/index/interfaces/ChannelOptions.md
doc/index/interfaces/CharacterInterface.md
doc/index/interfaces/ChoiceInterface.md
doc/index/interfaces/ChoiceOptionInterface.md
doc/index/interfaces/CloseChoiceOptionInterface.md
doc/index/interfaces/ContainerMemory.md
doc/index/interfaces/ContainerOptions.md
doc/index/interfaces/DialogueInterface.md
doc/index/interfaces/ExportedSound.md
doc/index/interfaces/ExportedSoundPlay.md
doc/index/interfaces/FederatedEvent.md
doc/index/interfaces/GameState.md
doc/index/interfaces/GameStepStateData.md
doc/index/interfaces/HistoryGameState.md
doc/index/interfaces/HistoryManagerInterface.md
doc/index/interfaces/HistoryStep.md
doc/index/interfaces/ImageContainerMemory.md
doc/index/interfaces/ImageContainerOptions.md
doc/index/interfaces/ImageSpriteMemory.md
doc/index/interfaces/ImageSpriteOptions.md
doc/index/interfaces/LabelProps.md
doc/index/interfaces/ListenerExtension.md
doc/index/interfaces/ListenerExtensionMemory.md
doc/index/interfaces/MoveInOutProps.md
doc/index/interfaces/NarrationGameState.md
doc/index/interfaces/NarrationHistory.md
doc/index/interfaces/NarrationManagerInterface.md
doc/index/interfaces/OnEventsHandlers.md
doc/index/interfaces/OpenedLabel.md
doc/index/interfaces/PushInOutProps.md
doc/index/interfaces/ResolvedAsset.md
doc/index/interfaces/ResolvedSrc.md
doc/index/interfaces/ShakeEffectProps.md
doc/index/interfaces/ShowWithDissolveTransitionProps.md
doc/index/interfaces/ShowWithFadeTransitionProps.md
doc/index/interfaces/SoundGameState.md
doc/index/interfaces/SoundOptions.md
doc/index/interfaces/SoundPlay.md
doc/index/interfaces/SoundPlayOptions.md
doc/index/interfaces/SoundPlayOptionsWithChannel.md
doc/index/interfaces/SpriteBaseMemory.md
doc/index/interfaces/SpriteMemory.md
doc/index/interfaces/SpriteOptions.md
doc/index/interfaces/StepLabelProps.md
doc/index/interfaces/StepLabelResult.md
doc/index/interfaces/StorageExternalStoreHandler.md
doc/index/interfaces/StorageManagerInterface.md
doc/index/interfaces/TextMemory.md
doc/index/interfaces/TextOptions.md
doc/index/interfaces/Ticker.md
doc/index/interfaces/TickerArgs.md
doc/index/interfaces/TickerHistory.md
doc/index/interfaces/TickerInfo.md
doc/index/interfaces/TickerProgrationExponential.md
doc/index/interfaces/TickerProgrationLinear.md
doc/index/interfaces/TickersSequence.md
doc/index/interfaces/TickerTimeoutHistory.md
doc/index/interfaces/TickerValue.md
doc/index/interfaces/UnresolvedAsset.md
doc/index/interfaces/VideoSpriteMemory.md
doc/index/interfaces/VideoSpriteOptions.md
doc/index/interfaces/ZoomInOutProps.md
doc/index/namespaces/CanvasPropertyUtility/README.md
doc/index/namespaces/CanvasPropertyUtility/functions/calculateAlignByPosition.md
doc/index/namespaces/CanvasPropertyUtility/functions/calculatePercentagePositionByPosition.md
doc/index/namespaces/CanvasPropertyUtility/functions/calculatePositionByAlign.md
doc/index/namespaces/CanvasPropertyUtility/functions/calculatePositionByPercentagePosition.md
doc/index/namespaces/CanvasPropertyUtility/functions/getPointBySuperPoint.md
doc/index/namespaces/CanvasPropertyUtility/functions/getSuperHeight.md
doc/index/namespaces/CanvasPropertyUtility/functions/getSuperPoint.md
doc/index/namespaces/CanvasPropertyUtility/functions/getSuperWidth.md
doc/index/namespaces/Game/README.md
doc/index/namespaces/Game/functions/addOnError.md
doc/index/namespaces/Game/functions/addOnPreContinue.md
doc/index/namespaces/Game/functions/clear.md
doc/index/namespaces/Game/functions/exportGameState.md
doc/index/namespaces/Game/functions/init.md
doc/index/namespaces/Game/functions/jsonToGameState.md
doc/index/namespaces/Game/functions/onEnd.md
doc/index/namespaces/Game/functions/onError.md
doc/index/namespaces/Game/functions/onLoadingLabel.md
doc/index/namespaces/Game/functions/onNavigate.md
doc/index/namespaces/Game/functions/onStepEnd.md
doc/index/namespaces/Game/functions/onStepStart.md
doc/index/namespaces/Game/functions/removeOnError.md
doc/index/namespaces/Game/functions/removeOnPreContinue.md
doc/index/namespaces/Game/functions/restoreGameState.md
doc/index/namespaces/Game/functions/start.md
doc/index/namespaces/RegisteredCanvasComponents/README.md
doc/index/namespaces/RegisteredCanvasComponents/functions/add.md
doc/index/namespaces/RegisteredCanvasComponents/functions/copyProperty.md
doc/index/namespaces/RegisteredCanvasComponents/functions/get.md
doc/index/namespaces/RegisteredCanvasComponents/functions/getInstance.md
doc/index/namespaces/RegisteredCanvasComponents/functions/has.md
doc/index/namespaces/RegisteredCanvasComponents/functions/keys.md
doc/index/namespaces/RegisteredCanvasComponents/functions/values.md
doc/index/namespaces/RegisteredCharacters/README.md
doc/index/namespaces/RegisteredCharacters/functions/add.md
doc/index/namespaces/RegisteredCharacters/functions/get.md
doc/index/namespaces/RegisteredCharacters/functions/has.md
doc/index/namespaces/RegisteredCharacters/functions/keys.md
doc/index/namespaces/RegisteredCharacters/functions/values.md
doc/index/namespaces/RegisteredEvents/README.md
doc/index/namespaces/RegisteredEvents/functions/add.md
doc/index/namespaces/RegisteredEvents/functions/get.md
doc/index/namespaces/RegisteredEvents/functions/has.md
doc/index/namespaces/RegisteredEvents/functions/keys.md
doc/index/namespaces/RegisteredEvents/functions/values.md
doc/index/namespaces/RegisteredLabels/README.md
doc/index/namespaces/RegisteredLabels/functions/add.md
doc/index/namespaces/RegisteredLabels/functions/get.md
doc/index/namespaces/RegisteredLabels/functions/has.md
doc/index/namespaces/RegisteredLabels/functions/keys.md
doc/index/namespaces/RegisteredLabels/functions/values.md
doc/index/namespaces/RegisteredTickers/README.md
doc/index/namespaces/RegisteredTickers/functions/add.md
doc/index/namespaces/RegisteredTickers/functions/get.md
doc/index/namespaces/RegisteredTickers/functions/getInstance.md
doc/index/namespaces/RegisteredTickers/functions/has.md
doc/index/namespaces/RegisteredTickers/functions/keys.md
doc/index/namespaces/RegisteredTickers/functions/values.md
doc/index/namespaces/StorageManagerStatic/README.md
doc/index/namespaces/StorageManagerStatic/functions/clearOldTempVariables.md
doc/index/namespaces/StorageManagerStatic/functions/getFlag.md
doc/index/namespaces/StorageManagerStatic/functions/getVariable.md
doc/index/namespaces/StorageManagerStatic/functions/removeVariable.md
doc/index/namespaces/StorageManagerStatic/functions/setExternalStoreHandler.md
doc/index/namespaces/StorageManagerStatic/functions/setFlag.md
doc/index/namespaces/StorageManagerStatic/functions/setVariable.md
doc/index/namespaces/StorageManagerStatic/variables/defaultStorage.md
doc/index/namespaces/StorageManagerStatic/variables/storage.md
doc/index/namespaces/StorageManagerStatic/variables/tempStorageDeadlines.md
doc/index/type-aliases/AllFederatedEventMap.md
doc/index/type-aliases/AssetSrc.md
doc/index/type-aliases/CloseType.md
doc/index/type-aliases/CommonTickerProps.md
doc/index/type-aliases/ContainerChild.md
doc/index/type-aliases/ErrorCodeType.md
doc/index/type-aliases/HistoryChoiceMenuOption.md
doc/index/type-aliases/IMediaInstance.md
doc/index/type-aliases/InputInfo.md
doc/index/type-aliases/LabelRunModeType.md
doc/index/type-aliases/LabelSteps.md
doc/index/type-aliases/Layer.md
doc/index/type-aliases/LoadParserName.md
doc/index/type-aliases/MotionAnimationOptions.md
doc/index/type-aliases/OnErrorHandler.md
doc/index/type-aliases/PauseType.md
doc/index/type-aliases/RepeatType.md
doc/index/type-aliases/SoundFilterMemory.md
doc/index/type-aliases/StepLabelPropsType.md
doc/index/type-aliases/StepLabelResultType.md
doc/index/type-aliases/StepLabelType.md
doc/index/type-aliases/StorageElementType.md
doc/index/type-aliases/StorageGameState.md
doc/index/type-aliases/StorageObjectType.md
doc/index/type-aliases/StoredChoiceInterface.md
doc/index/type-aliases/StoredIndexedChoiceInterface.md
doc/index/type-aliases/TextureSourceLike.md
doc/index/type-aliases/TickerProgrationType.md
doc/index/variables/Assets.md
doc/index/variables/CANVAS_APP_GAME_LAYER_ALIAS.md
doc/index/variables/canvas.md
doc/index/variables/Close.md
doc/index/variables/Color.md
doc/index/variables/default.md
doc/index/variables/filters.md
doc/index/variables/GENERAL_CHANNEL.md
doc/index/variables/narration.md
doc/index/variables/PIXIVN_VERSION.md
doc/index/variables/Rectangle.md
doc/index/variables/Repeat.md
doc/index/variables/sound.md
doc/index/variables/stepHistory.md
doc/index/variables/storage.md
doc/index/variables/SYSTEM_RESERVED_STORAGE_KEYS.md
doc/index/variables/TextStyle.md
doc/index/variables/Texture.md
doc/index/variables/UPDATE_PRIORITY.md
doc/vite/README.md
doc/vite/functions/vitePluginPixivn.md
doc/vite-listener/README.md
doc/vite-listener/functions/setupPixivnViteData.md
